/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.5.1/checksums/checksums.lock
/.gradle/7.6/checksums/checksums.lock
/.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.6/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.6/executionHistory/executionHistory.lock
/.gradle/7.5.1/fileHashes/fileHashes.lock
/.gradle/7.6/fileHashes/fileHashes.lock
/.gradle/7.5.1/dependencies-accessors/gc.properties
/.gradle/7.5.1/gc.properties
/.gradle/7.6/dependencies-accessors/gc.properties
/.gradle/7.6/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/7.5.1/fileChanges/last-build.bin
/.gradle/7.6/fileChanges/last-build.bin
/.gradle/7.6/executionHistory/executionHistory.bin
/.gradle/file-system.probe
/.gradle/7.6/fileHashes/fileHashes.bin
/.idea/jpa-buddy.xml
/.gradle/7.6/checksums/md5-checksums.bin
/.idea/modules.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.idea/modules/api-gateway/plans.api-gateway.main.iml
/.idea/modules/satellite-io-service/plans.satellite-io-service.main.iml
/.idea/modules/telecommand-service/plans.telecommand-service.main.iml
/.idea/modules/telemetry-service/plans.telemetry-service.main.iml
/.gradle/7.6/fileHashes/resourceHashesCache.bin
/.gradle/7.6/checksums/sha1-checksums.bin
/.idea/uiDesigner.xml
